body {
    background-color: #555;
    text-align: center;
    color: white;
}

main {
    padding-top: 30px;
}

#main_image img {
    width: 50%;
    border: 5px solid #fff;
}

#thumnails img {
    width: 10%;
    margin: 10px;
    border: 1px solid #fff;
}